.passEval {
	border: 1px solid black;
	width : 200px;
	padding : 10px;
	padding-bottom: 2px;
}

.strengthBar {
	margin: 10px;

	height:10px;
	opacity: 0;
}

.currentStrength {
	opacity : 1;
}
.passEval-svg {
	width : 100%;
	height : 10px;
	margin-top : 5px;
	margin-bottom: 5px;
	border : 1px solid black;
	background-color: black;
}
.passEval-error {
	font-family: 'Arial';
	font-size: 10px;
	color : red;
}

.demo-form {
	padding:10px;
	width:70%;
	margin-left : 15%;
	font-size: 12px;
	font-family : Arial;
}

.demo-form input {
	width:200px;

}
.infoblock {
	margin-top : 0;
	padding:10px;
	width:70%;
	margin-left : 15%;
	font-size: 12px;
	font-family : Arial;
}

button {
	height : 15px;
	width : 15px;
	display : block;
}
